<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginSignup</servlet-name>
        <servlet-class>LoginSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateForgot</servlet-name>
        <servlet-class>UpdateForgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoSell</servlet-name>
        <servlet-class>AutoSell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginSign</servlet-name>
        <servlet-class>AdminLoginSign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateForgot</servlet-name>
        <servlet-class>AdminUpdateForgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentCar</servlet-name>
        <servlet-class>RentCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentBike</servlet-name>
        <servlet-class>RentBike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookNow</servlet-name>
        <servlet-class>BookNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBooking</servlet-name>
        <servlet-class>ConfirmBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBooking</servlet-name>
        <servlet-class>CancelBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Job</servlet-name>
        <servlet-class>Job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Approved</servlet-name>
        <servlet-class>Approved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rejected</servlet-name>
        <servlet-class>Rejected</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSignup</servlet-name>
        <url-pattern>/LoginSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateForgot</servlet-name>
        <url-pattern>/UpdateForgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoSell</servlet-name>
        <url-pattern>/AutoSell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginSign</servlet-name>
        <url-pattern>/AdminLoginSign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateForgot</servlet-name>
        <url-pattern>/AdminUpdateForgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentCar</servlet-name>
        <url-pattern>/RentCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentBike</servlet-name>
        <url-pattern>/RentBike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookNow</servlet-name>
        <url-pattern>/BookNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBooking</servlet-name>
        <url-pattern>/ConfirmBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBooking</servlet-name>
        <url-pattern>/CancelBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Job</servlet-name>
        <url-pattern>/Job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Approved</servlet-name>
        <url-pattern>/Approved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rejected</servlet-name>
        <url-pattern>/Rejected</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
